PalmerPenguins Dataset

PalmerPenguins dataset has been recently introduced as an alternative to the Iris dataset that is commonly used for data exploration, visualization and classification modeling.

The PalmerPenguins data were collected and made available by Dr. Kristen Gorman and the Palmer Station, Antarctica LTER, a member of the Long Term Ecological Research Network.

The palmerpenguins package contains two datasets that can either be downloaded from the original GitHub link â€” https://github.com/allisonhorst/palmerpenguins, or can be accessed from Kaggle.

Both datasets contain data for 344 penguins. There are 3 different species of penguins in this dataset, collected from 3 islands in the Palmer Archipelago, Antarctica.

Data Exploration and Visualization using Pandas and Plotly!

Now let's dive into performing exploratory data analysis and visualization on the palmerpenguins dataset using Pandas and Plotly.

To install Pandas and Plotly, run the following commands in the terminal:

In [ ]:
#!pip install pandas
#!pip install plotly

In [ ]:
# importing dependencies here
import pandas as pd
import os

# importing plotly modules for visualizations
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode, iplot

In [ ]:
# reading the penguins dataset
#penguins_df = pd.read_csv("path to your dataset")

import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
penguins_df = sns.load_dataset('penguins')
type(penguins_df)

# checking the top 5 rows
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female